* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #EFDAB9;
  background-color: #353334;
}
input {
  margin: 0px;
  border: 0px;
  border: 1px;
  border-style: solid;
  border-color: #424143;
  border-radius: 2px;
  color: #EFDAB9;
  padding: 5px 10px 5px 10px;
}
.inputs {
  position: relative;
  background-color: #353334;
  padding: 20px;
  height: 100%;
  width: 19%;
  margin: 0px;
  border: 0px;
  align-items: center;
  float: left;
}
.inputLabel {
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #EFDAB9;
  font-size: 1.5em;
}
.inputItem {
  float:left;
  padding: 10px;
  width: 100%;
  background: #353334;
  border: 1px;
  border-style: solid;
  border-color: #424143;
  border-radius: 2px;
  color: #EFDAB9;
}
#doDate {
  padding: 7.5px;
}
.Button {
  padding: 10px;
  width: 100%;
  background: #5D887B;
  border: 1px;
  border-style: solid;
  border-color: #78AF9F;
  border-radius: 4px;
  color: white;
  margin-top: 20px;
}
.table {
  margin: 0;
  float: left;
  padding: 20px;
  width: 75%;
  border-style: none;
  border-color: #999;
  background-color: #353334;
  height: 100%;
}
.actions {
  position: absolute;
  bottom: 50px;
}
img {
  float: right;
}
